.navbar-dark {
  .sidebar-toggle span i {
    color: #FFFFFF;
  }

  .navbar-text {
    color: #FFFFFF;
  }

  .navbar-nav {
    .nav-link {
      color: #FFFFFF;

      &:focus {
        color: #FFFFFF;
      }

      &:hover {
        color: #FFFFFF;
      }
    }
  }
}
