.sidebar {
  min-width: 230px;
  max-width: 230px;
  min-height: calc(100vh - 58px);
  transition: all 0.3s;
  top: 58px;

  ul {
    li a {
      color: rgba(255, 255, 255, .75);
      display: block;
      padding: .75rem 1rem;
      text-decoration: none;
      border-bottom: 1px solid rgba(0, 0, 0, .15);
    }

    ul a {
      background: rgba(0, 0, 0, .15);
      padding-left: 2.5rem;
    }
  }

  [data-toggle="collapse"] {
    position: relative;

    &:before {
      content: "\f0d7";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      position: absolute;
      right: 1rem;
    }
  }

  [aria-expanded="true"] {
    background: rgba(0, 0, 0, .15);

    &:before {
      content: "\f0d8";
    }
  }

  &.toggled {
    margin-left: -230px;

    & + .d-flex > .content {
      margin-left: 0;
    }
  }
}

.sidebar-dark ul li a:hover, .sidebar-dark ul .active a {
  color: rgba(255, 255, 255, 1);
  background: rgba(0, 0, 0, .15);
}

.sidebar-separator-title {
  background-color: #333;
  height: 35px;
}
.sidebar-separator {
  background-color: #333;
  height: 25px;
  padding-left: 2.5rem;
}
.sidebar-copyright {
  background-color: #333;

  ul {
    li {
      list-style: none;
    }
  }
}